GCP_PROJECT="project-name"
GCS_BUCKET="gs://bucket-name"

HF_TOKEN="hf_..."

SHELBY_NETWORK="testnet"
SHELBY_WALLET_PRIVKEY="ed25519-priv-0x..."
SHELBY_WALLET_ADDRESS="0x..."

INFERENCE_STATIC_IP="136.119.208.69"
INFERENCE_SERVER_URL="http://136.119.208.69:8080"
INFERENCE_API_KEY="openssl rand -base64 32 or whatever"

GCP_SA_KEY_B64="base64 -i <path-to-key.json>"

LAMBDA_API_KEY="secret_..."
RUNPOD_API_KEY="rpa_..."

INFER_GPU_TYPE="NVIDIA A100 80GB PCIe"

WANDB_API_KEY="wandb_v1_..."